<div class="jumbotron hero shadow-lg">
  <h1 class="display-4">C. MILLER</h1>
  <hr class="my-4 hero-description">
  <p class="h5">Indumentaria y diseño textil hecho a mano en Chile.
</p>
  <p class="lead">
    <a class="btn btn-outline-light" href="<%= products_path %>" role="button">Ver colección</a>
  </p>
</div>
