// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "summernote-bs4";

.container {
  margin-top: 70px;
}

.titulo, i {
  color: #0C05A1;
}

.boton-delete,
.boton-edit {
  margin: 10px 10px 10px 10px;
}

.blog-sidebar {
  margin-top: 80px;
}

.texto-blog {
  margin-top: 50px;
}

.titulo-blog {
  margin-bottom: 20px;
}
