
<footer class="footer text-center">
    <a href="http://instagram.com/cmiller_ind">
      <i class="fa fa-instagram fa-2x"></i>
    </a>
    <a href="https://www.facebook.com/pg/cmiller.ind">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>

    <p>C.MILLER 2020. Todos los derechos reservados</p>
  </footer>
