<footer class="footer text-center">
  <div class="row">
    <div class="col-12">
      <a href="http://instagram.com/cmiller_ind" target="_blank">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.facebook.com/pg/cmiller.ind" target="_blank">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
    </div>
    <div class="col-12">
      <p>C.MILLER 2020. Todos los derechos reservados</p>
    </div>
  </div>
</footer>
